/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;    
}
/* ---------------------------------- */
[class*="__container"]{
	max-width: 1087px;
	margin: 0px auto;
	padding: 0 15px;
}
/* ---------------------------------- */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 1 100%;
}
.wrapper {
}
.header {
    position: fixed;
    top: 0;
    right: 0;
}
.header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 4;
    background-color: rgb(112, 149, 218);
}
.header__container {    
}
.header__body {
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 10px 0px 10px;    
}
.header__logo {
    z-index: 5;
    position: fixed;
    left: 10px;
}
.header__logo img {    
    border-radius: 50%;
    max-width: 50px; 
}
.header__burger {
}
.header__menu {
    z-index: 5;             
}
.menu__link {
    padding: 20px 0px 0px 30px;
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 5;
}
@media (max-width: 768px) {
    .header__body {
        height: 60px;          
    }
    .header::before {
        content: '';
        width: 100%;
        height: 60px;      
    }
    .header__menu {
        left: 100%;
        top: 0;
        position: fixed;
        transition: all 0.3s ease 0s;        
    }
    .header__burger::after,
    .header__burger::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
        transition: all 0.3s ease 0s;  
    }
    .header__burger::before {
        bottom: 0%;
    }
    .header__burger span {
        position: absolute;
        top: 45%;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
        transition: all 0.3s ease 0s;  
    }
    .header__burger {
        position: relative;
        width: 40px;
        height: 35px;
        z-index: 5;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 50%;
        transition: all 0.3s ease 0s;        
    } 
    .header__burger.active:after {
        transform: rotate(-45deg); 
        top: 50%; 
        transition: all 0.3s ease 0s;       
    }
    .header__burger.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;         
    }   
    .header__menu.active {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(91, 79, 113);  
        display: block;
        text-align: end;
        padding: 0px 10px 0px 0px;
        transition: all 0.3s ease 0s;
        z-index: 1;
    }
    .menu__item { 
        display: flex;
        flex-direction: column;
        margin: 100px 0px 0px 0px;
    }   
    .menu__link {
        padding: 40px 20px 0px 0px;
        font-size: 30px;   
    }
}
.menu__item {
}

.main {
    line-height: 2;
}
.main__container {
}
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: rgb(112, 149, 218);
}
